*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #000;
}

.background{
    background: url(blue.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.text, .box{
    flex: 1;
    
}
.color{
    background-color: green;
}
.text{
    font-weight: 300px;
    margin-top: 60vh;
    margin-left: 30vh;
}

.box{
    margin-top: 25.5vh;
    margin-left: 15%;
}

.text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 500;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.text p a{
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.image{
    margin-left: 13vh;
}
.username, .password{
    border-bottom: 1px solid #fff;
}
.logo{
    margin-top: 10vh;
    margin-left: -100vh;
}
.button{
    background: rgb(241, 138, 69);
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.button:hover{
    background: rgb(17, 221, 119);
    color: #000;
}