@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #203868;
}
.image{
  margin-left: 50vh;
}
.image2{
  margin-left: 60vh;
  width: 300px;
  height: 200px;
}
.background{
  background: url(blue.jpg)no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.texttc{
  color: #d4d4d4;
  font-size: 20px;
  margin-left: 350;
  margin-right: 600;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.wrapper1{
  display: flex;
  position: relative;
}

.h2{
  color:  #e0e4e8;
  font-size: 40px;
  text-shadow: #e0e4e8;
  background-color:rgb(245, 102, 91);
  width: 350px;
  height: 50px;
  padding-left: 60px;
  border-radius: 5px;
}
.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #0d5188;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #184477;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #062b5c;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 85%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}