@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); 

body{
 padding: 0;
 margin: 0;
 line-height: 1.5;
 box-sizing: border-box;
 color:rgba(248, 248, 248, 0.938);
 font-family: 'Josefin Sans', sans-serif;
}

/* container utility */
#fancy-form .container{
  width: 80%;
  margin-left: 140px;
  overflow: hidden;
}

/* main div */
.form-sections{
  margin-top: 5vh;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* Form-left styling */
.Form-left h1{
  color: #fff;
  padding: 0;
  margin: 0;
}

.Form-left h4{
  padding: 0;
  margin: 0;
  color: rgb(243, 235, 235);
}
.line{
  border-bottom: 2px solid rgb(12, 168, 207);
  width: 8%;
  margin-left: 0;
}
.Form-left span{
  color: rgb(187, 182, 182);
  font-size: 15px;
}

.Form-left hr{
  width: 25rem;
  margin-left: 0;
  border: 1px solid rgb(53, 52, 52);
}
.image{
  width: 300px;
  height: 200px;
  margin-left: 30px;
}
/* socail media icons */
.fa {
  padding: 8px;
  font-size: 18px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  color: rgb(187, 182, 182);
}
.fa:hover{
  color: rgb(16, 135, 190);;
}



/* Form Right Styling */
.Form-right h1{
  color: #fff;
  padding: 0;
  margin: 0;
}

form{
  padding-top: 2rem;
}

form h5{
  padding: 0;
  margin: 0;
  color: rgb(228, 218, 218);
}
form input{
  padding:0.6rem;
  width: 27rem;
  border: none;
  background-color:rgba(136, 133, 133, 0.3);
  color:white;
  outline:none;
  border-radius: 5px;
}

form textarea{
  padding:0.6rem;
  width: 27rem;
  border: none;
  background-color:rgba(136, 133, 133, 0.3);
  color:white;
  border-radius: 5px;
  outline:none;
 }

 form button{
    width: 9rem;
    background: rgb(12, 168, 207);
    padding: 5px;
    outline: none;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
 }


 /* media queries */
   @media (max-width: 968px){

     #fancy-form .form-sections{
       display: block;
       width: 100%;
       text-align: left;
          }

      /* background image  */
      #fancy-form{
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)),url(../imgs/particles.jpg);
        background-size: cover;
        background-position: center;
        height: auto;
        width: 100%;
         }

      .form-sections .Form-right{
        margin-top: 2rem;
        margin-bottom: 2rem;
         }

    /* socail media icons */
        .fa{
         padding: 8px;
         font-size: 18px;
         width: 30px;
         text-align: center;
         text-decoration: none;
         color: rgb(187, 182, 182);
             }
          }