*{
    margin: 0;
    padding: 0;
}

.table-box
{
    margin-left: 200px;
    margin-top: 45px;
    margin-bottom: 80px;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: #fff;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #f34640;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.h2t{
    color: #fff;
    margin-left: 88vh;
    font-size: 40px;
    margin-top: 20px;
}
.table-head2{
    background: rgb(245, 102, 91);
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.table:hover{
    background: rgb(103, 248, 134);
    color: black;
}
.table-head3{
    background: #399c36;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    width: 500px;
    
}

.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}